tierOne{
    weaponBseBostDmg = 0,
    weaponEnchMax = 3,
    weaponBseBostDurb = 0,
    weaponReforgeMax = 25
}

tierTwo{
    weaponBseBostDmg = 50,
    weaponEnchMax = 5,
    weaponBseBostDurb = 100,
    weaponReforgeMax = 50
}

tierThree{
    weaponBseBostDmg = 120,
    weaponEnchMax = 10,
    weaponBseBostDurb = 250,
    weaponReforgeMax = 125
}

dfltWeaponDmg{
    Punch : 50,
    lightObject : 100 ,
    mediumObject : 120,
    heavyObject : 150,
}

weaponMatTypes{
    wooden{
        dmgStat : 5,
        durStat : 15,
        passiveOne : "splinters",
        teirStart : "tierOne",
        maxTeir : "tierOne"
    },
    stone{
        dmgStat : 15,
        durStat : 10,
        statOne : "lowDurability",
        teirStart : "tierOne",
        maxTeir : "tierTwo"
        passiveOne : "hardHitting"
    },
    ferite{
        dmgStat : 30,
        durStat : 100,
        passiveOne : "randomDebuff",
        teirStart : "tierOne",
        maxTeir : "tierTwo"
    },
    pigIron{
        dmgStat : 40,
        durStat : 300,
        statOne : "superDur",
        teirStart : "tierOne",
        maxTeir : "tierThree"
        passiveOne : "sharpness"
    },
}